#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export PKG = $(word 2,$(shell dpkg-parsechangelog | grep ^Source))
export ARCH=$(shell dpkg-architecture -qDEB_TARGET_ARCH)
export CURVER=$(shell dpkg-parsechangelog -SVersion| sed -re 's,.([0-9])+$$,,')
export OS=$(shell dpkg-architecture -qDEB_TARGET_ARCH_OS)

ifeq ($(ARCH), i386)
    export UPSTREAM_ARCH=ia32
else
    export UPSTREAM_ARCH=x64
endif

export ELECTRON_BASE = $(PKG)-v$(CURVER)-$(OS)-$(UPSTREAM_ARCH)
export ELECTRON_TGZ = $(ELECTRON_BASE).tar.gz
export ELECTRON_VER = $(CURVER)-$(OS)-$(UPSTREAM_ARCH)

%:
	dh $@

override_dh_shlibdeps:
	echo "override"

get-orig-source:
    wget https://github.com/electron/electron/releases/download/v1.4.0/electron-v1.4.0-linux-x64.zip
	uscan --noconf --verbose --rename --destdir=$(CURDIR)/packages/ --check-dirname-level=0 --force-download --download-version $(ELECTRON_VER)
