#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

PKD  = $(abspath $(dir $(MAKEFILE_LIST)))
PKG  = $(shell dpkg-parsechangelog -l$(PKD)/changelog --show-field=Source)
VER ?= $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')

%:
	dh $@

override_dh_auto_configure:
	python script/bootstrap.py -y -v
	
override_dh_auto_build:
	python script/build.py -c R
	python script/create-dist.py

#override_dh_auto_clean:
#	python script/clean.py

get-orig-source:
	if [ -d $(PKG)-$(VER) ]; then rm -rf $(PKG)-$(VER); fi
	@echo "Cloning git repo..."
	git clone --branch v$(VER) --depth 1 https://github.com/electron/electron.git $(PKG)-$(VER)
	@echo "Compress..."
	tar czf ../$(PKG)_$(VER).orig.tar.gz $(PKG)-$(VER)
	@echo "Cleanup..."
	rm -rf $(PKG)-$(VER)
